[submodule "services/user"]
	path = services/user
	url = git@github.com:IGDevX/shopouille-user.git
[submodule "services/cms"]
	path = services/cms
	url = git@github.com:IGDevX/shopouille-cms.git
[submodule "services/catalog"]
	path = services/catalog
	url = git@github.com:IGDevX/shopouille-catalog.git
