[submodule "services/shopouille-cms"]
	path = services/shopouille-cms
	url = git@github.com:IGDevX/shopouille-cms.git
[submodule "services/shopouille-catolog"]
	path = services/shopouille-catolog
	url = git@github.com:IGDevX/shopouille-catalog.git
[submodule "services/shopouille-user"]
	path = services/shopouille-user
	url = git@github.com:IGDevX/shopouille-user.git
