apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: prod
data:
  local-config.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100

    common:
      replication_factor: 1
      path_prefix: /loki
      ring:
        instance_addr: 0.0.0.0
        kvstore:
          store: memberlist

    schema_config:
      configs:
        - from: 2020-05-15
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h

    storage_config:
      tsdb_shipper:
        active_index_directory: /loki/index
        cache_location: /loki/index_cache
      filesystem:
        directory: /loki/chunks
