apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: prod
data:
  local-config.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100

    common:
      ring:
        instance_addr: 0.0.0.0
        kvstore:
          store: inmemory
      replication_factor: 1
      path_prefix: /tmp/loki

    schema_config:
      configs:
        - from: 2020-05-15
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h

    storage_config:
      tsdb_shipper:
        active_index_directory: /tmp/loki/index
        cache_location: /tmp/loki/index_cache
      filesystem:
        directory: /tmp/loki/chunks

    compactor:
      working_directory: /tmp/loki/compactor
      retention_enabled: true
      delete_request_store: filesystem
      compaction_interval: 10m

    ingester:
      chunk_idle_period: 15m
      max_chunk_age: 1h

    pattern_ingester:
      enabled: true
