apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-init-script
data:
  init-mongo.js: |
    const appUser = process.env.MONGO_APP_USER;
    const appPassword = process.env.MONGO_APP_PASSWORD;
    const dbName = process.env.MONGO_APP_DB;
    db = db.getSiblingDB(dbName);
    db.createCollection('example');
    try {
      db.createUser({
      user: appUser,
      pwd: appPassword,
      roles: [
        { role: "readWrite", db: dbName }
      ]
    });
    print(`Utilisateur '${appUser}' créé avec droits readWrite sur '${dbName}'`);
    } catch (e) {
    print(`Utilisateur '${appUser}' existe déjà`);
    }