apiVersion: apps/v1
kind: Deployment
metadata:
  name: cms-deployment
  namespace: devops-staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cms
  template:
    metadata:
      name: cms
      labels:
        app: cms
    spec:
      containers:
      - name: cms
        image: ghcr.io/igdevx/shopouille-cms:8bace50fad4de298bbe6f7817a73d9653dca5e7f
        envFrom:
        - configMapRef:
            name: cms-app-config
        - secretRef:
            name: cms-db-secret
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"