apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: front-rollout
  namespace: prod
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      labels:
        app: front
    spec:
      containers:
      - name: front
        image: ghcr.io/igdevx/shopouille:main-8d22d42
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
  strategy:
    canary:
      steps:
      - setWeight: 50
      - pause: {duration: 180s}