apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: front-rollout
  namespace: prod
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      name: front
      labels:
        app: front
    spec:
      containers:
      - name: front
        image: ghcr.io/igdevx/shopouille:dev-33556ff
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: front-app-config
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
  strategy:
    canary:
      steps:
      - setWeight: 20
      - pause: {duration: 30s}
      - setWeight: 40
      - pause: {duration: 30s}
      - setWeight: 60
      - pause: {duration: 30s}
      - setWeight: 80
      - pause: {duration: 30s}