apiVersion: v1
kind: ConfigMap
metadata:
  name: collector-config
  namespace: prod
  labels:
    app: collector
data:
  config.yml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: "0.0.0.0:4317"

    processors:
      batch:
        timeout: 10s
        send_batch_size: 128
        send_batch_max_size: 1024

    exporters:
      loki:
        endpoint: "http://loki:3100/loki/api/v1/push"
      prometheus:
        endpoint: "0.0.0.0:11337"
        enable_open_metrics: true

    service:
      pipelines:
        logs:
          receivers: [otlp]
          processors: [batch]
          exporters: [loki]
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [prometheus]
