apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-deployment
  namespace: prod
  labels:
    app: prometheus-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-server
  template:
    metadata:
      labels:
        app: prometheus-server
    spec:
      imagePullSecrets:
      - name: docker-hub
      containers:
        - name: prometheus
          image: prom/prometheus:v3.7.3
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
            - "--log.level=debug"
          ports:
            - containerPort: 9090
          resources:
            requests:
              cpu: 150m
              memory: 500M
            limits:
              cpu: 300m
              memory: 1Gi
          volumeMounts:
            - name: config-volume
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
      volumes:
      - name: config-volume
        configMap:
          name: prometheus-config