apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-deployment
  namespace: devops-staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      name: front
      labels:
        app: front
    spec:
      containers:
      - name: front
        image: ghcr.io/igdevx/shopouille:dev-33556ff
        ImagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: front-app-config
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"