apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-deployment
  namespace: devops-staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      name: front
      labels:
        app: front
    spec:
      containers:
      - name: front
        image: ghcr.io/igdevx/shopouille:dev-37d809f
