apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      name: grafana
      labels:
        app: grafana
    spec:
      securityContext:
        fsGroup: 472
        runAsUser: 472
        runAsGroup: 472
      imagePullSecrets:
      - name: docker-hub
      initContainers:
      - name: increase-fd-ulimit
        image: busybox:1.36
        command: ['sh', '-c', 'ulimit -n 65536']
        securityContext:
          privileged: true
      containers:
      - name: grafana
        image: grafana/grafana:12.2
        imagePullPolicy: IfNotPresent
        ports:
        - name: grafana
          containerPort: 3000
        env:
        - name: GF_DATABASE_WAL
          value: "true"
        - name: GF_LOG_LEVEL
          value: "info"
        volumeMounts:
        - name: grafana-storage
          mountPath: /var/lib/grafana
        resources:
          limits:
            memory: 500M
            cpu: "200m"
          requests: 
            memory: 250M
            cpu: "100m"
      volumes:
        - name: grafana-datasources
          configMap:
              defaultMode: 420
              name: grafana-datasources
        - name: grafana-storage
          emptyDir: {}