apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      name: grafana
      labels:
        app: grafana
    spec:
      securityContext:
        fsGroup: 472
        runAsUser: 472
        runAsGroup: 472
      imagePullSecrets:
      - name: docker-hub
      containers:
      - name: grafana
        image: grafana/grafana:12.1
        imagePullPolicy: IfNotPresent
        ports:
        - name: grafana
          containerPort: 3000
        volumeMounts:
        - name: grafana-storage
          mountPath: /var/lib/grafana
        - name: grafana-datasources
          mountPath: /etc/grafana/provisioning/datasources
        resources:
          limits:
            memory: 500M
            cpu: "200m"
          requests: 
            memory: 250M
            cpu: "100m"
      volumes:
        - name: grafana-datasources
          configMap:
              defaultMode: 420
              name: grafana-datasources
        - name: grafana-storage
          emptyDir: {}